* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(127, 51, 51);
  text-align: center;
  margin: 20px;
}

h3 {
  color: rgb(62, 62, 140);
}

ul {
  list-style: none;
}

.container-all-cards {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-card {
  width: 250px;
  margin-top: 25px;
  margin-bottom: 25px;
}

